<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wie volg jij die jouw niet volgt?</title>
  </head>
  <body>
    <section>
      <h1>Wie volg jij die jouw niet volgt?</h1>
      <form action="get_users" method="POST">
        <input type="text" name="handle">
        <input type="submit" value="Get users!">
      </form>
    </section>
  </body>
</html>
